:root {
    --bg-color: #001F3F;
}

[data-testid="stAppViewContainer"]{
  background-color: var(--bg-color);
  
  /*background: rgb(122,200,240);
  background: linear-gradient(360deg, rgba(122,200,240,1) 50%, rgba(255,253,0,1) 100%);*/
} 
[data-testid="stAppViewContainer"] div{
    color: black;
}

[data-testid="stHeader"] {
    background-color: rgba(0,0,0,0);
    /* 
    background: rgb(254, 254, 254);
    background: linear-gradient(180deg, rgba(254,254,254, .5) 0%, rgba(122, 201, 240, 0) 100%); */
}

[data-testid="stToolbar"] {
  right: 1rem;
}

div.block-container.css-12oz5g7.egzxvld2>div>div {
    border-radius: 1em;
    /*background-color: #f0edd9;*/
    background: rgb(176,225,248);
    background: linear-gradient(180deg, rgba(175, 225, 248, 1),rgba(255,255,53,1) 80%);
}

div.block-container.css-12oz5g7.egzxvld2>div>div>div>div {
    padding: .25em;
}

div.block-container.css-12oz5g7.egzxvld2>div>div div{
    color: black;
}

[data-testid="stVerticalBlock"]>[style*="flex-direction: column;"]>[data-testid="stVerticalBlock"] {
    background-color: #FFD700;
    box-sizing: border-box;
    overflow: hidden;
}

/*Pictures box*/
div.css-ocqkz7.e1tzin5v4 {
    padding: 1em;
    border-radius: 1em;
    background: rgb(72,192,248);
    background: linear-gradient(180deg, rgba(72,192,248,1) 0%, rgba(255,253,0,1) 100%);
    /**background: rgb(254, 243, 179);
    background: linear-gradient(90deg, rgba(254, 243, 179, 1) 0%, rgba(240, 221, 122, 1) 100%);**/
}

div.css-ocqkz7.e1tzin5v4 div{
    color:black;
}

div[data-testid="stImage"]>img{
    border-radius: 5%;
}

#haii-nat > div{
    display:grid;
    align-items: center;
    justify-content: center;
}

/**@media (prefers-color-scheme: dark) {
    [data-testid="stAppViewContainer"] {
        background: rgb(254, 243, 179);
        background: linear-gradient(90deg, rgba(254, 243, 179, 1) 0%, rgba(240, 221, 122, 1) 100%);
    }
}**/