:root {
    --primary-color: #87CEEB;
    --secondary-color: #FFD700;
    --third-color: #000000;
}

@font-face {
    font-family: 'Roboto';
    src: url('./roboto-slab.regular.ttf') format('ttf');
}

.main>div {
    min-width: 100svw;
    font-family: 'Roboto' sans-serif;
}

[data-testid="stAppViewContainer"]{
  background-color: var(--primary-color);
  
  /*background: rgb(122,200,240);
  background: linear-gradient(360deg, rgba(122,200,240,1) 50%, rgba(255,253,0,1) 100%);*/
} 
[data-testid="stAppViewContainer"] div{
    color: var(--third-color);
}

[data-testid="stHeader"] {
    background-color: rgba(0,0,0,0);
    /* 
    background: rgb(254, 254, 254);
    background: linear-gradient(180deg, rgba(254,254,254, .5) 0%, rgba(122, 201, 240, 0) 100%); */
}

[data-testid="stToolbar"] {
  right: 1rem;
}

/* [data-testid="stVerticalBlock"]>[style*="flex-direction: column;"]>[data-testid="stVerticalBlock"] {
    
    border-radius: 1em;
    overflow: auto;
}
 */
div.block-container.css-12oz5g7.egzxvld2>div>div {
    border-radius: 1em;
    box-sizing: border-box;
    /*background-color: #f0edd9;*/
    /* background: rgb(176,225,248);
    background: linear-gradient(180deg, rgba(175, 225, 248, 1),rgba(255,255,53,1) 80%); */
}

div.block-container.css-12oz5g7.egzxvld2>div>div>div>div {
   /*  padding: .25em; */
}

div.block-container.css-12oz5g7.egzxvld2>div>div>div{
    color: var(--third-color);
}

[data-testid="stVerticalBlock"]>[style*="flex-direction: column;"]>[data-testid="stVerticalBlock"] {
    padding-block-start: 1em;
    padding-block-end: 1em;
    padding-inline-start: .25em;
    background-color: var(--secondary-color);
    border-radius: 1em;
}

[data-testid="stVerticalBlock"]>[style*="flex-direction: column;"]>[data-testid="stVerticalBlock"]>div>div>div>p {
    padding-inline: .75em;
}

div.element-container.css-148fogg.e1tzin5v3>div.stMarkdown>div>p::first-letter{
    text-indent: 1rem;
    display:inline-block
}

/*Pictures box*/
div.css-ocqkz7.e1tzin5v4 {
  display: block;
    box-shadow: 0 0 0 100vmax var(--secondary-color);
    clip-path: inset(0 -100vmax);
    background-color: var(--secondary-color);
    /* background: rgb(72,192,248);
    background: linear-gradient(180deg, rgba(72,192,248,1) 0%, rgba(255,253,0,1) 100%); */
    /**background: rgb(254, 243, 179);
    background: linear-gradient(90deg, rgba(254, 243, 179, 1) 0%, rgba(240, 221, 122, 1) 100%);**/
}
div.css-ocqkz7.e1tzin5v4::after{
    content:'Sebenernya sih masih banyak lagi,tapi menurutku itu aja yang bagus. Semoga ini memberimu kesan walau hanya hal sederhana.'
}
div.css-ocqkz7.e1tzin5v4 div{
    color:black;
}

div[data-testid="stImage"]>img{
    border-radius: 5%;
}

#haii-nat>div {
    display: grid;
    align-items: center;
    justify-content: center;
}
#birthday-wishes>div {
    display: grid;
    align-items: center;
    justify-content: center;
}

/**@media (prefers-color-scheme: dark) {
    [data-testid="stAppViewContainer"] {
        background: rgb(254, 243, 179);
        background: linear-gradient(90deg, rgba(254, 243, 179, 1) 0%, rgba(240, 221, 122, 1) 100%);
    }
}**/