:root {
    color-scheme: light only;
}

[data-testid="stAppViewContainer"]{
  background-color: #7AC8F0;
  
  /*background: rgb(122,200,240);
  background: linear-gradient(360deg, rgba(122,200,240,1) 50%, rgba(255,253,0,1) 100%);*/
} 
[data-testid="stAppViewContainer"] div{
    color: black;
}

[data-testid="stHeader"] {
  background-color: rgba(0,0,0,0);
}

[data-testid="stToolbar"] {
  right: 1rem;
}

[data-testid="stVerticalBlock"]>[style*="flex-direction: column;"]>[data-testid="stVerticalBlock"] {
    
    border-radius: 1em;
    overflow: auto;
}

div.css-1n76uvr.e1tzin5v0{
    padding: 0.25em;
    border-radius: 1em;
    overflow: auto;
    /*background-color: #f0edd9;*/
    background: rgb(122,200,240);
    background: linear-gradient(180deg, rgba(122,200,240,1) 0%, rgba(255,253,0,1) 100%);
}

div.css-1n76uvr.e1tzin5v0 div{
    color: black;
}

div.css-ocqkz7.e1tzin5v4 {
    padding: 1em;
    border-radius: 1em;
    background: rgb(122,200,240);
    background: linear-gradient(180deg, rgba(122,200,240,1) 0%, rgba(255,253,0,1) 100%);
    /**background: rgb(254, 243, 179);
    background: linear-gradient(90deg, rgba(254, 243, 179, 1) 0%, rgba(240, 221, 122, 1) 100%);**/
}

div.css-ocqkz7.e1tzin5v4 div{
    color:black;
}

/**@media (prefers-color-scheme: dark) {
    [data-testid="stAppViewContainer"] {
        background: rgb(254, 243, 179);
        background: linear-gradient(90deg, rgba(254, 243, 179, 1) 0%, rgba(240, 221, 122, 1) 100%);
    }
}**/