:root {
    --st-bg: rgb(14, 17, 23);
    --st-text: #fff;
}

[data-testid="stAppViewContainer"]{
    background: rgb(254, 243, 179);
    background: linear-gradient(90deg, rgba(254, 243, 179, 1) 0%, rgba(240, 221, 122, 1) 100%);
} 
[data-testid="stAppViewContainer"] div{
    color: black;
} 

[data-testid="stVerticalBlock"]>[style*="flex-direction: column;"]>[data-testid="stVerticalBlock"] {
    
    border-radius: 1em;
    overflow: auto;
}

div.css-1n76uvr.e1tzin5v0{
    padding: 0.25em;
    border-radius: 1em;
    overflow: auto;
    background-color: #f0edd9;
        
}

div.css-1n76uvr.e1tzin5v0 div{
    color: black;
}

div.css-ocqkz7.e1tzin5v4 {
    padding: 1em;
    border-radius: 1em;
    background-color: #DED0B6;
}

div.css-ocqkz7.e1tzin5v4 div{
    color:black;
}

